:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark; /* Tells browser scrollbars to be dark */
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0f172a; /* Matches the variable in App.css */
}

h1, h2, h3 { line-height: 1.1; }